
@import "constants.sass"

body
  background: #B3ECFF url(img/body_bg.png) top center no-repeat
  color: $textcolor
  font: 13px/1.5 'Helvetica Neue', Arial, 'Liberation Sans', FreeSans, sans-serif
  text-align: center
  
p
  margin-bottom: 10px

a
  color: #0063DC
  text-decoration: underline
  &:hover
    text-decoration: none

h2
  font-size: 200%
  a
    color: #ffad39
    text-decoration: none

label
  font-weight: bold

.header, .main-menu, .content, .footer, .debug
  @include content
  
.content, .footer
  @include rounded

/**
 * Header
 */
.header
  background: #4DCeF9 url(img/header_bg.png) top left repeat-x
  height: 70px
  overflow: hidden
  padding-top: 1px
  h1, h1 a
    background: #4DCeF9 url(img/logo.png) top left repeat-x
    display: inline
    float: left
    height: 70px
    width: 151px
  h1 a
    text-indent: -3000px
  .user-menu
    display: inline
    float: right
    height: 70px
    line-height: 70px
    width: 300px
    p
      color: #FFF
      font-weight: bold
      line-height: 70px
      height: 70px
      float: left
      padding-left: 1em
      margin: 0
      a
        color: #FFF
      img
        vertical-align: middle

/* Main menu */
.main-menu
  background: #0BAFE6 url(img/nav_bg.png) left top repeat-x
  height: 33px
  line-height: 33px
  margin-bottom: 10px
  -moz-border-radius-bottomleft: 5px
  -webkit-border-bottom-left-radius: 5px
  -moz-border-radius-bottomright: 5px
  -webkit-border-bottom-right-radius: 5px
  ul li
    float: left
    height: 33px
    line-height: 33px
    span, a
      color: #FFF
      display: block
      font-weight: bold
      height: 33px
      padding: 0 10px
    &.current-item a, & a:hover
      background: #FFF url(img/hover_nav_bg.png) left top repeat-x
      color: #333
    &.first-item a
      -moz-border-radius-bottomleft: 5px
      -webkit-border-bottom-left-radius: 5px



/* Content */
.content
  background: url(img/section_bg.png) left top repeat
  margin-bottom: 10px



/* grids */
.main
  @include rounded
  @include grid
  width: 640px

.wide-main
  @include rounded
  @include grid
  width: 916px

.sidebar
  @include rounded
  @include grid
  border: 2px solid #0BAFE6
  width: 236px
  .box
    margin-bottom: 10px

/* pages */

/* home */
.home
  h2
    color: #BBBBC1
    font-size: 50px
    font-weight: normal
    padding: 0 0 10px 0
    text-align: center
    strong
      color: #ffad39
  
  .home-featured
    padding-top: 10px
    
    div
      float: left
      padding: 20px
      width: 275px
      
      h3
        color: #0063DC
        font-size: 160%
        a
          text-decoration: none

/* user */

/* invite */

.users .invite
  background: #CFFFDF url(img/hp_boy.png) center left no-repeat
  border: 2px solid #88F6AC
  margin: 10px 0
  padding: 10px 0
  -moz-border-radius: 3px
  -webkit-border-radius: 3px
  h3
    color: #1090D2
    font-size: 150%
    margin-left: 60px
  p
    margin: 0 10px 5px 60px
  a
    color: #333
    text-decoration: none
    &:hover
      text-decoration: underline

.users .featured ul li
  display: inline


/* user view */

.users-view ul li
  display: inline

.users-login
  form
    margin-top: 10px
  label
    display: block
  textarea
    width: 90%

/* users search */
.users-search
  form
    @include rounded
    background: #fdffc3
    padding: 10px
    margin-bottom: 10px
    
    label
      margin-right: 0.5em
    
    label, .input, .submit
      display: inline

/* groups */
.groups
  dd
    border-bottom: 1px solid #CCC
    margin-bottom: 10px
  form
    @include rounded
    background: #fdffc3
    padding: 10px
    margin-bottom: 10px
    
    label
      margin-right: 0.5em
    
    label, .input, .submit
      display: inline

.groups-view, .groups-add
  form
    margin-top: 10px
  label
    display: block
  textarea
    width: 90%


/* flashcards */
.flashcards table
  width: 100%
  margin-top: 1em
  tbody td
    border-bottom: 1px solid #ccc
    padding: 0.5em 0.2em

#flashcard
  margin-bottom: 2em

#flashcard-front, #flashcard-back
  @include rounded
  border: 1px solid #CCC
  padding: 2em 1em 3em 1em

#flashcard-back
  display: none

.flashcard-info
  text-align: right

.big-link
  font-size: 150%
  font-weight: bold
  margin-right: 20px

.flip-flashcard-container, .remember-links-container
  text-align: right

.remember-links-container
  display: none
  .i-remember
    color: green
  .i-do-not-remember
    color: red


/* tags */
.tags ul li
  display: inline
  margin: 0.3em 1em



/* end pages ......................... */


/* paginate */
div.paginate
  font-weight: bold
  padding: 1em 0
  a, span.current
    background: #FFF
    border: 1px solid #104f85
    margin: 0 0.2em
    padding: 0.4em 0.5em
    color: #104f85
    text-decoration: none
    &:hover
      background: #104f85
      color: #FFF
      text-decoration: none
  span.current
    background: #104f85
    color: #FFF
    text-decoration: none
  span.disabled
    background: #FFF
    border: 1px solid #CCC
    color: #777
    margin: 0 0.2em
    padding: 0.4em 0.5em
    text-decoration: none



.message
  @include rounded
  padding: 10px
  margin-top: 10px
  &.odd
    background: #E6F9FF
  &.even
    background: #fbffd0
  .author
    text-align: right
    margin: 0
    padding: 0

.signup .field-messages
  border-bottom: 1px solid #CCC
  margin-bottom: 10px
  padding-bottom: 10px
  .field, .messages
    width: 50%
    
  .field
    float: left
    
    label
      display: block
      font-size: 160%
      font-weight: normal
      
    input
      font-size: 140%
      padding: 0.5em
      width: 80%
      
    input#UserUsername
      font-weight: bold
      width: 50%
      
    select
      font-size: 120%
      padding: 0.2em
      width: 80%
      
  .messages
    float: right
    padding-top: 10px
    
  .error input, .error-message
    color: red

/* Footer */
.footer
  background: #0BAFE6
  color: #FFF
  margin-bottom: 10px
  padding: 10px 0
  text-align: center
  a
    color: #FFF
  ul
    padding: 0 10px
    li
      display: inline
      margin: 0 10px


/* Jquery UI */
.ui-tabs .ui-tabs-hide
  display: none



/* debug */
.debug
  @include rounded
  background: #FFF
  margin: 10px auto
  table
    margin: 0 auto
    width: 90%
    caption
      font-size: 200%
      font-weight: bold
    td
      border-bottom: 1px solid #CCC
      padding: 1em 0.2em


